<!DOCTYPE html>
<html>

<head>
  <title>AirBnb Clone</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <menu>
    {{#if user}}
    <div class="left-menu">
      <li><a href="/listings/new">Create Listing</a></li>
    </div>
    <div class="right-menu">
      <li><p>Hello, {{user.dataValues.username}}</p></li>
      <li><a href="#">Logout</a></li>
    </div>
    
    {{else}}
    <div class="right-menu">
      <a href="/users/signup">Sign Up</a>
      <a href="/users/login">Login</a>
    </div>
    
    {{/if}}
  </menu>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
</body>

</html>
