
<div class="ui container">
    <h1>This is listing number {{listing.dataValues.id}}</h1>
    
    <h2>Title: {{listing.dataValues.title}}</h2>
    
    <h2>Description:</h2>
    <p>{{listing.dataValues.description}}</p>
</div>