
<div class="ui container">

    <h1>Title: {{listing.dataValues.title}}</h1>
    <img class="ui fluid image" src="{{listing.dataValues.imageUrl}}" />
    <h3>${{listing.dataValues.price}}/day</h3>
    <p>{{listing.dataValues.description}}</p>
</div>