<div class="ui container">
    <form class="ui form" action="/users/signup" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Create Username" />
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Enter a Valid E-mail" />
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Create Password" />
        </div>
        <button type="submit" class="ui button primary">Sign Up</button>
    </form>
</div>