html {
    height: 100%;
}

body {
    height: auto;
}

/*
    menu
*/
menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    margin: 0 0 10px 0;
    padding: 15px;
}

.left-menu {
    justify-self: start;
    display: flex;
}

.right-menu {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
}

menu a {
    padding: 10px;
}

